os códigos precisam ser iguais a esses: código AA = 7º 36’ S, 35º 22’ W; o código FC = 8º 43’ S, 35º 50’ W; o código TAP = 8º 01’S, 35º 11’W; o código BC = 8º 22’ S, 36º 01’ W; BMD = 8º 12’ S, 36º 24’ W; SM = 3º 53’ S, 38º 43’ W

In [3]:
import pandas as pd

In [ ]:
# Caminhos dos arquivos
nuclear_file_path = '/home/nathan/Documents/Doutorado_diversidade_genética/Phylogeogra/Geneland/Scripts/Proceratophrys_boiei_haplotype_matrix_sorted_nuclear_with_individuals_NEW.txt'
mitochondrial_file_path = '/home/nathan/Documents/Doutorado_diversidade_genética/Phylogeogra/Geneland/Scripts/Proceratophrys_boiei_haplotype_matrix_sorted_mitocondrial_with_individuals.txt'

# Carregar os arquivos em DataFrames
df_nuclear = pd.read_csv(nuclear_file_path, sep='\t')
df_mitochondrial = pd.read_csv(mitochondrial_file_path, sep='\t')

#df_nuclear.head()
#df_mitochondrial.head()
# Caminho do arquivo de saída
output_file_path = '/home/nathan/Documents/Doutorado_diversidade_genética/Phylogeogra/Geneland/Scripts/filtered_mitochondrial_data.txt'

# Filtrar o DataFrame mitocondrial para conter apenas os códigos presentes no DataFrame nuclear
filtered_df_mitochondrial = df_mitochondrial[df_mitochondrial['Individual'].isin(df_nuclear['Individual'])]

# Salvar o DataFrame filtrado em um novo arquivo .txt
filtered_df_mitochondrial.to_csv(output_file_path, sep='\t', index=False)

# Exibir o DataFrame filtrado
filtered_df_mitochondrial.head()

,Individual,ND2_Proceratophrys_boiei_aligned,cytb_Proceratophrys_boiei_aligned
2,AA925,13,19
3,AA936,13,18
4,AA946,16,14
5,AA947,26,26
6,AA948,22,29
7,AA949,22,17
9,BC726,2,4
10,BC727,2,4
11,BC728,8,30
12,BC729,2,4
13,BC730,18,4
14,BC763,3,12
15,BC765,2,4
16,BC766,3,12
20,BC770,2,4
28,BMD376,1,1
29,BMD377,1,1
34,BMD826,1,1
38,BMD830,1,7
41,BMD840,1,16
49,FC1015,23,11
54,FC1020,14,24
57,FC1037,11,8
58,FC1038,25,25
59,FC1058,15,13
60,FC1059,23,11
61,FC1065,6,10
70,FC481,20,2
71,SM1553,28,6
73,SM1577,5,6
74,SM1578,9,6
76,SM1580,9,3
77,SM1581,9,6
78,SM1582,9,6
83,SM1587,9,3
88,TAP1474,19,5
89,TAP1475,12,5
90,TAP1476,24,5
91,TAP1477,7,10
92,TAP1479,7,10
93,TAP1480,7,10
95,TAP1483,12,5

In [13]:
#retirar a primeira coluna e o cabeçalho do arquivo filtered_mitochondrial_data.txt e salvar em um novo arquivo

# Caminho do arquivo de saída
new_output_file_path = '/home/nathan/Documents/Doutorado_diversidade_genética/Phylogeogra/Geneland/Scripts/filtered_mitochondrial_data_no_header.txt'

# Carregar o arquivo em um DataFrame
df_filtered = pd.read_csv(output_file_path, sep='\t')

# Remover a primeira coluna
df_filtered = df_filtered.iloc[:, 1:]

# Salvar o DataFrame sem cabeçalho e sem a primeira coluna em um novo arquivo
df_filtered.to_csv(new_output_file_path, sep='\t', index=False, header=False)

# Exibir o DataFrame atualizado
df_filtered.head()

   ND2_Proceratophrys_boiei_aligned  cytb_Proceratophrys_boiei_aligned
0                                13                                 19
1                                13                                 18
2                                16                                 14
3                                26                                 26
4                                22                                 29

In [ ]:
#criar um arquivo de coordenadas geográficas para os indivíduos do arquivo Proceratophrys_boiei_haplotype_matrix_sorted_nuclear_with_individuals_NEW.txt

# Importar a biblioteca pandas
import pandas as pd
# Caminho do arquivo a ser atualizado
file_path = '/home/nathan/Documents/Doutorado_diversidade_genética/Phylogeogra/Geneland/Scripts/Proceratophrys_boiei_haplotype_matrix_sorted_nuclear_with_individuals_NEW.txt'

output_file = '/home/nathan/Documents/Doutorado_diversidade_genética/Phylogeogra/Geneland/Scripts/Proceratophrys_boiei_haplotype_matrix_sorted_nuclear_with_individuals_NEW_geo.txt'

# Carregar o arquivo em um DataFrame
df_file = pd.read_csv(file_path, sep='\t')

# Criar o DataFrame de códigos e coordenadas
data = {
    'Codigo': ['AA', 'FC', 'TAP', 'BC', 'BMD', 'SM'],
    'Latitude': [-7.6, -8.7167, -8.0167, -8.3667, -8.2, -3.8833],
    'Longitude': [-35.3667, -35.8333, -35.1833, -36.0167, -36.4, -38.7167]
}
df = pd.DataFrame(data)

# Adicionar uma nova coluna em df_file com o código identificado
df_file['Codigo'] = df_file['Individual'].str.extract(r'^(' + '|'.join(df['Codigo']) + ')')

# Mapear as coordenadas correspondentes ao Código
df_file['Latitude'] = df_file['Codigo'].map(df.set_index('Codigo')['Latitude'])
df_file['Longitude'] = df_file['Codigo'].map(df.set_index('Codigo')['Longitude'])

# Selecionar apenas as colunas 'Latitude' e 'Longitude'
df_coordinates = df_file[['Latitude', 'Longitude']]

# Alterar a ordem das colunas para Longitude e depois Latitude
df_coordinates = df_coordinates[['Longitude', 'Latitude']]

# Salvar o arquivo atualizado com apenas as coordenadas
df_coordinates.to_csv(output_file, sep='\t', index=False, header=False)

# Exibir o DataFrame atualizado
df_coordinates.head()

   Longitude  Latitude
0   -35.3667      -7.6
1   -35.3667      -7.6
2   -35.3667      -7.6
3   -35.3667      -7.6
4   -35.3667      -7.6

In [12]:

# Caminho do arquivo a ser atualizado
file_path = '/home/nathan/Documents/Doutorado_diversidade_genética/Phylogeogra/Geneland/Scripts/filtered_mitochondrial_data.txt'

output_file = '/home/nathan/Documents/Doutorado_diversidade_genética/Phylogeogra/Geneland/Scripts/Proceratophrys_boiei_haplotype_matrix_sorted_mitocondrial_with_individuals_geo.txt'

# Carregar o arquivo em um DataFrame
df_file = pd.read_csv(file_path, sep='\t')

# Criar o DataFrame de códigos e coordenadas
data = {
    'Codigo': ['AA', 'FC', 'TAP', 'BC', 'BMD', 'SM'],
    'Latitude': [-7.6, -8.7167, -8.0167, -8.3667, -8.2, -3.8833],
    'Longitude': [-35.3667, -35.8333, -35.1833, -36.0167, -36.4, -38.7167]
}
df = pd.DataFrame(data)

# Adicionar uma nova coluna em df_file com o código identificado
df_file['Codigo'] = df_file['Individual'].str.extract(r'^(' + '|'.join(df['Codigo']) + ')')

# Mapear as coordenadas correspondentes ao Código
df_file['Latitude'] = df_file['Codigo'].map(df.set_index('Codigo')['Latitude'])
df_file['Longitude'] = df_file['Codigo'].map(df.set_index('Codigo')['Longitude'])

# Selecionar apenas as colunas 'Latitude' e 'Longitude'
df_coordinates = df_file[['Latitude', 'Longitude']]

# Alterar a ordem das colunas para Longitude e depois Latitude
df_coordinates = df_coordinates[['Longitude', 'Latitude']]

# Salvar o arquivo atualizado com apenas as coordenadas
df_coordinates.to_csv(output_file, sep='\t', index=False, header=False)

# Exibir o DataFrame atualizado
df_coordinates.head()

   Longitude  Latitude
0   -35.3667      -7.6
1   -35.3667      -7.6
2   -35.3667      -7.6
3   -35.3667      -7.6
4   -35.3667      -7.6